@{
    ViewBag.Title = "Juego";
}

<div class="container mt-5">
    <h2 class="text-center mb-4">Configurar Juego</h2>

    <div class="card shadow-lg p-4 mb-5 bg-body rounded">
        <form method="get" asp-action="Comenzar">
            <div class="mb-4">
                <label for="username" class="form-label fw-bold">Nombre de Usuario</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Ingrese su nombre de usuario" required>
            </div>

            <div class="mb-4">
                <label for="categoria" class="form-label fw-bold">Categoría</label>
                <select class="form-select" id="categoria" name="categoria" required>
                    <option value="-1">Todas las categorías</option>
                    @foreach (Categoria categoria in (List<Categoria>)ViewBag.Categorias)
                    {
                        <option value="@categoria.IdCategoria">@categoria.Nombre</option>
                    }
                </select>
            </div>

            <div class="mb-4">
                <label for="dificultad" class="form-label fw-bold">Dificultad</label>
                <select class="form-select" id="dificultad" name="dificultad" required>
                    <option value="-1">Todas las dificultades</option>
                    @foreach (Dificultad dificultad in (List<Dificultad>)ViewBag.Dificultades)
                    {
                        <option value="@dificultad.IdDificultad">@dificultad.Nombre</option>
                    }
                </select>
            </div>

            <div class="d-grid">
                    <a class="btn btn-primary" href='@Url.Action("Juego" , "Home")'>Comenzar Juego</a>
            </div>
        </form>
    </div>
</div>
